body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    margin: 20px;
    border-spacing: 1px;
    border: 1px solid;
}
th, td {
    padding: 15px;
    border: 1px solid;
}
th {
    background-color:#6699FF;
    font-weight:bold;
}

.desc a {
    text-decoration: none;
}

a { color: green; }
a:focus { color: red; }



